.project{
    border-bottom: 1px solid black; 
    padding-bottom: 5vh;
}

.heading{
    width: 80%;
    padding: 1vh 1%;
    display: flex;
    flex-direction: row;
}

.access_level{
    margin-left: 2%;
    padding-left: 4%;
    padding-right: 4%;
    height: 43px;
    color: #AEAEAE;
    border: 2.5px solid #AEAEAE;
    border-radius: 10px;
    font-size: 34px;
    font-family: Geneva, Arial, Helvetica, sans-serif; 
    text-align: center;
}


.name{
    color: black;
    font-size: 40px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.description{
    text-indent: 30px;
    padding: 2vh 1% 3vh;
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.button {
    width: 30%;
    height: 8vh;
    font-size: calc(1vw + 1vh);
    background-color: white;
    color: #009379;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
}

.button:hover {
    background-color: #1ca28a;
    color: white;
}

.button:active {
    background-color: #009379;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.primary {
    background-color: #008981;
    color: white;
}
