.project{
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
}

.heading{
    width: 40%;
}

.name{
    width: 700px;
    font-size: 25px;
    border: 1px solid #326461;
    border-radius: 2px;
    background-color: #F7F9F9;
}

.description{
    font-size: 20px;
    height: 30vh;
    width: 700px;
    margin-top: 30px;
    border: 1px solid #326461;
    border-radius: 2px;
    background-color: #F7F9F9;
    font-family: 'Noto Sans Tamil';
}